.cursor-pointer, .pointer { cursor: pointer; }
.cursor-text { cursor: text; }
.cursor-default { cursor: default; }
.cursor-grab {
    cursor: grab;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}
.cursor-grabbing {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.cursor-col-resize { cursor: col-resize; }
.cursor-row-resize { cursor: row-resize; }
