@width-1: 24rem;
@width-2: 32rem;
@width-3: 48rem;
@width-4: 72rem;

@xsWidthMax: 39.99rem;

@smWidthMin: 40rem;
@smWidthMax: 51.99rem;

@mdWidthMin: 52rem;
@mdWidthMax: 71.99rem;

@lgWidthMin: 72rem;
