@platformFontStack: -apple-system, system-ui, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;

html.baymax {
    font-family: @platformFontStack;
}
body.baymax {
    margin: 0;
    padding: 0;
    color: hsl(0, 0%, 20%);
    font-family: @platformFontStack;
    font-weight: normal;
    font-size: 0.8rem;
    text-decoration: none;
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 1.25;
    overflow: auto;
}
body.red { background: hsl(352, 84%, 56%); }

.baymax {
    font-family: @platformFontStack;

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .appearance-none {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    input:not([type='submit']), textarea { outline: 0; color:#444; }
    a { outline: 0; }
    textarea { resize: none; }
    input[type='text'],
    input[type='email'],
    input[type='password'],
    input[type='tel'],
    input[type='url'],
    input[type='submit'],
    [contenteditable=plaintext-only],
    [contenteditable=true],
    button,
    textarea,
    .styled-input {
        border-width: 2px;
        border-style: solid;
        .appearance-none;

        &:not(.border-thick) {
            border-color: rgba(0,0,0,0);
            &:active,
            &:focus,
            &.active {
                border-color: rgba(0,0,0,0.25);
            }
        }
    }

    .text-white input, input.text-white,
    .text-white textarea { color: white; }
    .text-white input[type='text'],
    .text-white input[type='email'],
    .text-white input[type='password'],
    .text-white input[type='tel'],
    .text-white input[type='submit'],
    .text-white [contenteditable=plaintext-only],
    .text-white [contenteditable=true],
    .text-white button,
    .text-white textarea,
    .text-white .styled-input {
        border-color: rgba(255,255,255,0);
        &:active,
        &:focus,
        &.active {
            border-color: rgba(255,255,255,0.25);
        }
    }

    a {
        color: @dark;
        &:not(.underline) {
            text-decoration: none;
        }
    }

    input.focusable:focus, .focusable:focus {
        outline: 0;
        box-shadow: inset 0 0 0 2px rgba(0,0,0,0.1);
    }
}

@import './_viewport_widths.less';
@import './_flex.less';
@import './_color.less';
@import './_animation.less';
@import './_grid.less';
@import './_margin_and_padding.less';
@import './_round.less';
@import './_type.less';
@import './_cursor.less';
@import './_border.less';

.list-reset {
    list-style: none;
    padding-left: 0;
}

.inline { display: inline }
.block { display: block }
.inline-block { display: inline-block }
.table { display: table }
.table-cell { display: table-cell }

.overflow-hidden { overflow: hidden }
.overflow-scroll { overflow: scroll; -webkit-overflow-scrolling: touch; }
.overflowy-scroll { overflow-y: scroll; -webkit-overflow-scrolling: touch; }
.overflowx-scroll { overflow-x: scroll; -webkit-overflow-scrolling: touch; }
.overflow-auto { overflow: auto }
.overflow-visible { overflow: visible }
.webkit-touch-scroll { -webkit-overflow-scrolling: touch; }

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table
}
.clearfix:after { clear:both }

.left { float: left }
.right { float: right }

.fit { max-width: 100% }

.border-box { box-sizing: border-box }

.align-baseline { vertical-align: baseline }
.align-top { vertical-align: top }
.align-middle { vertical-align: middle }
.align-bottom { vertical-align: bottom }

.relative { position: relative }
.absolute { position: absolute }
.fixed { position: fixed }
.static { position: static }

.top-0 { top: 0 }
.right-0 { right: 0 }
.bottom-0 { bottom: 0 }
.left-0 { left: 0 }
.all-0 {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.z1 { z-index: 1 }
.z2 { z-index: 2 }
.z3 { z-index: 3 }
.z4 { z-index: 4 }

.circle { border-radius: 50%; }
.pill { border-radius: 9999px; }

.prefixMaxWidth(@prefix) {
    .@{prefix}-1 { max-width: @width-1; }
    .@{prefix}-2 { max-width: @width-2; }
    .@{prefix}-3 { max-width: @width-3; }
    .@{prefix}-4 { max-width: @width-4; }
}

.prefixMaxWidth(max-width);

.sm-vh-show { display: none; }

@media (max-height: 600px) {
    .sm-vh-hide { display: none; }
    .sm-vh-show { .flex; }
}

@media (max-width: @xsWidthMax) {
    .xs-top-0 { .top-0; }
    .xs-left-0 { .left-0; }
    .xs-right-0 { .right-0; }
    .xs-hide { display: none; }
    .prefixMaxWidth(xs-max-width);
}

@media (min-width: @smWidthMin) and (max-width: @smWidthMax) {
    .sm-top-0 { .top-0; }
    .sm-left-0 { .left-0; }
    .sm-right-0 { .right-0; }
    .sm-hide { display: none; }
    .prefixMaxWidth(sm-max-width);
}

@media (min-width: @mdWidthMin) and (max-width: @mdWidthMax) {
    .md-top-0 { .top-0; }
    .md-left-0 { .left-0; }
    .md-right-0 { .right-0; }
    .md-hide { display: none; }
    .prefixMaxWidth(md-max-width);
}

@media (min-width: @lgWidthMin) {
    .lg-top-0 { .top-0; }
    .lg-left-0 { .left-0; }
    .lg-right-0 { .right-0; }
    .lg-hide { display: none; }
    .prefixMaxWidth(lg-max-width);
}

.display-none, .hide { display: none; }

.hover-underline {
    &:hover {
        text-decoration: underline;
    }
}

.quiet { opacity: 0.75; }
.quieter { opacity: 0.5; }
.quietest { opacity: 0.25; }

.noevents { pointer-events: none; }
.noevents .events,
.events { pointer-events: all; }
.no-user-select {
    user-select: none;
    -webkit-user-select: none;
}

.aspect-scale {
    max-width: 100%;
    width: 100%;
    height: auto;
}
.aspect-scale-height {
    max-width: auto;
    height: 100%;
    width: auto;
}

input.small { font-size: 12px; }

.height-fill { min-height: 100vh; }

.flat-shadow {
    position: relative;
}
.flat-shadow::after {
    content: '';
    position: absolute;
    background: @darken2;
    top: 6px;
    bottom: -6px;
    left: 6px;
    right: -6px;
    z-index: -1;
}

.height-fill { min-height: 100vh; }

.rounded.flat-shadow::after { border-radius: @round; }
.rounded-big.flat-shadow::after {
    border-radius: @round-big;
    top: 8px;
    bottom: -8px;
    left: 8px;
    right: -8px;
}
.appIcon.flat-shadow::after {
    .hide;
    border-radius: 16px;
}
.dragging .appIcon.flat-shadow::after { .block; }

.multiply { mix-blend-mode: multiply; }
.luminosity { mix-blend-mode: luminosity; }
.invisible,
.hover-container:hover .parent-hover-invisible { opacity: 0; }
.visible,
.hover-container:hover .parent-hover-visible,
.hover-container:hover .parent-hover-unquiet { opacity: 1; }

.background-cover { background-size: cover; }
.background-contain { background-size: contain; }
.background-norepeat { background-repeat: no-repeat; }
.background-center { background-position: center center; }
.background-size-half { background-size: 50%; }
.background-none { background-color: none; }
.background-transparent { background-color: transparent; }

.image-rendering-optimize-quality {
    image-rendering: optimizeQuality;
    image-rendering: -webkit-optimize-contrast;
}

.hover-show:not(:hover) { opacity: 0; }

.target-show,
.target-hide:target { display: none; }
.target-hide,
.target-show:target { display: block; }

.dragging .hide-drag { display: none; }

.hover-container:hover .parent-hover-flex { .flex; }
.hover-container:hover .parent-hover-flex-inline { .flex-inline; }

// Draft-js overrides
.DraftEditor-root {
    .public-DraftEditor-content { border: 0; }
}

.light-scrollbar {
    &::-webkit-scrollbar {
        width: 12px;
        height: 12px;
        .absolute;
        .all-0;
    }
    &::-webkit-scrollbar-button {
        display: none;
        height: 0;
        width: 0;
    }
    &::-webkit-scrollbar-thumb {
        background-color: hsla(0, 0%, 0%, 0.35);
        background-clip: padding-box;
        border: 3px solid rgba(0, 0, 0, 0);
        border-radius: 6px;
        min-height: 36px;
        &:hover {
            background-color: hsla(0, 0%, 0%, 0.4);
        }
    }
}

.list-style-disc li {
    list-style-type: disc;
}
.list-style-outside li {
    list-style-position: outside;
}

// TODO (eden): remove this once we reactify detailCursor
.detailCursor,
.cell.expanded {
    .detailCursor-text-blue { color: @blueBright; }
    .detailCursor-border-blue,
    .detailCursor-border-blue:hover,
    .detailCursor-border-blue:active,
    .detailCursor-border-blue:focus { border-color: @blueBright; }
    .detailCursor-stroked-blue-focus:active,
    .detailCursor-stroked-blue-focus:focus { box-shadow: inset 0 0 0 2px @blueLight2; }
}

// This is useful for when you want to show some text,
// but don't want it to be selectable. E.g. for line numbers
// in the gutter of a code listing.
.content-using-data-attr:before {
    content: attr(data-content);
}

.no-outline {
    outline: 0;
}

@media print {
    .hide-print {
        display: none;
        visibility: hidden;
    }

    .text-white, .choiceToken {
        color: black;
    }
}
