/node_modules/
/packages/*/node_modules/
/packages/*/dist/
/packages/*/transpiled/
/packages/*/coverage/
/tools/*/node_modules/

yarn-error.log
npm-debug.log
.DS_Store
.idea
.vscode

# Node diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.json

# cli-next package testing space
/packages/cli-next/.test-tmp
