/dist
/node_modules
/packages/*/node_modules
/packages/*/dist
/packages/*/transpiled
/docs/.cache/
/docs/public/
/examples/*/build
/packages/blocks-docs/docs-base-blocks.json
/packages/blocks-docs/docs-interface-blocks.json
/packages/cli-next/test/fixtures/
/packages/webpack-bundler/test/fixtures/
