.border {
    border-style: solid;
    border-width: 1px;
}
.border-thick {
    border-style: solid;
    border-width: 2px;
}
.border-thick1 {
    border-style: solid;
    border-width: 3px;
}

.border-top {
    border-top-style: solid;
    border-top-width: 1px;
}
.border-top-thick {
    border-top-style: solid;
    border-top-width: 2px;
}
.border-top-thick1 {
    border-top-style: solid;
    border-top-width: 3px;
}

.border-right {
    border-right-style: solid;
    border-right-width: 1px;
}
.border-right-thick {
    border-right-style: solid;
    border-right-width: 2px;
}
.border-right-thick1 {
    border-right-style: solid;
    border-right-width: 3px;
}

.border-bottom {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.border-bottom-thick {
    border-bottom-style: solid;
    border-bottom-width: 2px;
}
.border-bottom-thick1 {
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

.border-left {
    border-left-style: solid;
    border-left-width: 1px;
}
.border-left-thick {
    border-left-style: solid;
    border-left-width: 2px;
}
.border-left-thick1 {
    border-left-style: solid;
    border-left-width: 3px;
}

.border-none { border: 0 }
.border-transparent { border-color: transparent; }
.border-dashed { border-style: dashed; }
.border-dotted { border-style: dotted; }
