@import './_viewport_widths.less';

@width1: 8.33333%;
@width2: 16.66667%;
@width3: 25%;
@width4: 33.33333%;
@width5: 41.66667%;
@width6: 50%;
@width7: 58.33333%;
@width8: 66.66667%;
@width9: 75%;
@width10: 83.33333%;
@width11: 91.66667%;
@width12: 100%;

@width-fifth: 20%;

.col {
    float: left;
    box-sizing: border-box;
}

.col-right {
    float: right;
    box-sizing: border-box;
}

.col-1 { width: @width1; }
.col-2 { width: @width2; }
.col-3 { width: @width3; }
.col-4 { width: @width4; }
.col-5 { width: @width5; }
.col-6 { width: @width6; }
.col-7 { width: @width7; }
.col-8 { width: @width8; }
.col-9 { width: @width9; }
.col-10 { width: @width10; }
.col-11 { width: @width11; }
.col-12 { width: @width12; }

.width-full { width: 100%; }
.height-full { height: 100%; }
.width-fifth { width: @width-fifth; }

@media (min-width: @smWidthMin){

    .sm-col {
        float: left;
        box-sizing: border-box;
    }

    .sm-col-right {
        float: right;
        box-sizing: border-box;
    }

    .sm-col-1 { width: @width1; }
    .sm-col-2 { width: @width2; }
    .sm-col-3 { width: @width3; }
    .sm-col-4 { width: @width4; }
    .sm-col-5 { width: @width5; }
    .sm-col-6 { width: @width6; }
    .sm-col-7 { width: @width7; }
    .sm-col-8 { width: @width8; }
    .sm-col-9 { width: @width9; }
    .sm-col-10 { width: @width10; }
    .sm-col-11 { width: @width11; }
    .sm-col-12 { width: @width12; }

    .sm-width-full { width: 100%; }
    .sm-height-full { height: 100%; }
    .sm-width-fifth { width: @width-fifth; }
}
@media (min-width: @mdWidthMin) {

    .md-col {
        float: left;
        box-sizing: border-box;
    }

    .md-col-right {
        float: right;
        box-sizing: border-box;
    }

    .md-col-1 { width: @width1; }
    .md-col-2 { width: @width2; }
    .md-col-3 { width: @width3; }
    .md-col-4 { width: @width4; }
    .md-col-5 { width: @width5; }
    .md-col-6 { width: @width6; }
    .md-col-7 { width: @width7; }
    .md-col-8 { width: @width8; }
    .md-col-9 { width: @width9; }
    .md-col-10 { width: @width10; }
    .md-col-11 { width: @width11; }
    .md-col-12 { width: @width12; }

    .md-width-full { width: 100%; }
    .md-height-full { height: 100%; }
    .md-width-fifth { width: @width-fifth; }
}
@media (min-width: @lgWidthMin){

    .lg-col {
        float:left;
        box-sizing:border-box;
    }

    .lg-col-right {
        float:right;
        box-sizing:border-box;
    }

    .lg-col-1 { width: @width1; }
    .lg-col-2 { width: @width2; }
    .lg-col-3 { width: @width3; }
    .lg-col-4 { width: @width4; }
    .lg-col-5 { width: @width5; }
    .lg-col-6 { width: @width6; }
    .lg-col-7 { width: @width7; }
    .lg-col-8 { width: @width8; }
    .lg-col-9 { width: @width9; }
    .lg-col-10 { width: @width10; }
    .lg-col-11 { width: @width11; }
    .lg-col-12 { width: @width12; }

    .lg-width-full { width: 100%; }
    .lg-height-full { height: 100%; }
    .lg-width-fifth { width: @width-fifth; }
}
