/*
Type overrides

Since v1 for this site is on a tight deadline, these type overrides
target selectors instead of transforming the markdown into custom
components. Transforming the markdown to JSX is a todo for kyle.ribant@.

Additionally, note the rem values are not tied to what's in helpers.css.
This is because there are more variations required for copy spacing than
what is available in helpers.css.
*/
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.125;
    font-family: 'GTEestiDisplay-Medium', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';
}

h1 {
    margin-top: 6.25rem; /* Equates to 100px */
    font-size: 2.8rem;
}

h2 {
    margin-top: 3.125rem; /* Equates to 50px */
    font-size: 2rem;
}

h3,
h4 {
    margin-top: 2rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

h5,
h6 {
    margin-top: 1.25rem;
    font-size: 1rem;
}

h6 {
    color: #666666;
}

p,
li {
    line-height: 1.5;
}

.main p {
    font-size: 1rem;
    margin-top: 1.25rem;
}

.main h1 + p {
    font-size: 1.25rem;
    margin-top: 2rem;
}

.main strong {
    font-family: 'GTEestiDisplay-Medium', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: 500;
}

li {
    font-size: 1rem;
    margin-top: 0.625rem;
}

/*
Custom styles

Overrides or more specific styling instances required for Blocks Dev site.
*/
.dev-site-body,
.dev-site-html {
    min-height: 100vh;
    background: hsl(0, 0%, 99%);
}

.footer {
    position: absolute;
    bottom: 0;
}

/* Main styles, including spacing and type overrides */
.main {
    margin-bottom: 12.5rem; /* Double the top margin to account for footer */
    margin-top: 76px; /* Hard-coded value to account for fixed nav */
}

.main ul,
.main ol {
    padding-left: 1.25rem;
}

.main a {
    color: #2d7ff9;
}

.main img {
    width: 100%;
    border-radius: 6px;
    margin-top: 1.25rem;
}

/* Code style overrides */
pre[class*='language-'],
code[class*='language-'] {
    background: white;
    border-radius: 6px;
    font-size: 0.9rem;
}

pre[class*='language-'],
:not(pre) > code[class*='language-'] {
    box-shadow: 0 0 0 2px hsla(0, 0%, 0%, 0.05);
}

pre[class*='language-'] {
    margin-top: 1.25rem;
}

/*
New Components
*/
/*
Table of contents

This is seen on API Reference as an accordion element. In a future iteration,
these styles should be scoped to the TOC component in api.mdx.
*/
.table-of-contents {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 8rem;
    overflow: scroll;
    max-height: 80vh;
}

.table-of-contents__headline a {
    display: none;
}

ul.table-of-contents__list {
    padding: 0;
    height: auto;
    overflow: hidden;
    max-height: 0;
    transition: max-height 500ms;
}

ul.table-of-contents__list--expanded {
    max-height: 2100px;
    transition: max-height 500ms;
}

/* Iconography, in this case only a plus sign */
img.icon {
    width: 1rem;
    margin-top: 0;
    transition: transform 500ms;
}

img.icon-plus--rotated {
    transform: rotate(45deg);
    transition: transform 500ms;
}

/* Spacer, yes a spacer. It's a necessary evil to make markdown work with the accordion */
.spacer {
    width: 100%;
    height: 3.125rem;
}
