/*
GT Eesti
*/
@font-face {
    font-family: 'GTEestiDisplay-Regular';
    font-display: swap;
    src: url('../fonts/GT-Eesti-Display-Regular-2.eot');
    src: url('../fonts/GT-Eesti-Display-Regular-2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GT-Eesti-Display-Regular-2.woff') format('woff'),
        url('../fonts/GT-Eesti-Display-Regular-2.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'GTEestiDisplay-Medium';
    font-display: swap;
    src: url('../fonts/GT-Eesti-Display-Medium-2.eot');
    src: url('../fonts/GT-Eesti-Display-Medium-2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GT-Eesti-Display-Medium-2.woff') format('woff'),
        url('../fonts/GT-Eesti-Display-Medium-2.ttf') format('truetype');
    font-weight: normal;
}
